<div class="kitten">
  <div>Name: </div>
  <div><%= kitten.name %></div>
  <div>Age: </div><div><%= kitten.age %></div>
  <div>Cuteness: </div><div><%= kitten.cuteness %></div>
  <div>Softness: </div><div><%= kitten.softness %></div>
  <%= link_to "Detail", kitten%>
</div>
